*,
*::before,
*::after {
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 1440px;
  min-height: 100%;
  font-family: 'Commissioner', sans-serif;
  background-image: url("../images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f2f2f2;
  overflow: visible;
}

.head {
  padding: 3.5em 11.5vw;
  -webkit-box-shadow: inset 0 125px 60px -50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 125px 60px -50px rgba(0, 0, 0, 0.5);
}

.head__nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  max-width: 275px;
  min-width: 200px;
}

.head__nav-item a {
  text-decoration: none;
  color: white;
}

.head__nav-item a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #7a7a7a;
          text-decoration-color: #7a7a7a;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  width: 150px;
  height: 25px;
}

.master-ctn {
  width: 50%;
  margin: 11.5% auto 0 auto;
}

.master-ctn section {
  background-color: white;
  margin: 1.5em 0;
  padding: 3em;
  border-radius: 0.5em;
}

.section-1 {
  position: relative;
  padding-top: 4em !important;
  text-align: center;
}

.section-1__logo {
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-1 h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
}

.section-1 p {
  margin-bottom: 2.5em;
  color: #7a7a7a;
}

.section-1__back-bmark-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1__back-bmark-ctn button {
  font-weight: 700;
}

.section-1__back-bmark-ctn button:hover {
  cursor: pointer;
}

.section-1__back {
  font-size: 0.925rem;
  font-weight: 700;
  padding: 0.5em 2.5em;
  border-radius: 5em;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.section-1__back:hover {
  background-color: #147b74;
}

.section-1__bmark-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5em;
  background-color: #f2f2f2;
}

.section-1__bmark-ctn img {
  -webkit-transition: -webkit-filter 0.25s;
  transition: -webkit-filter 0.25s;
  transition: filter 0.25s;
  transition: filter 0.25s, -webkit-filter 0.25s;
}

.section-1__bmark-ctn:hover img {
  -webkit-filter: invert(22%) sepia(0%) saturate(1784%) hue-rotate(258deg) brightness(100%) contrast(88%);
          filter: invert(22%) sepia(0%) saturate(1784%) hue-rotate(258deg) brightness(100%) contrast(88%);
}

.section-1__bmark-ctn__bmark-img--green {
  -webkit-filter: invert(35%) sepia(14%) saturate(2819%) hue-rotate(128deg) brightness(100%) contrast(84%) !important;
          filter: invert(35%) sepia(14%) saturate(2819%) hue-rotate(128deg) brightness(100%) contrast(84%) !important;
}

.section-1__bmark {
  background-color: transparent;
  color: #7a7a7a;
  height: 100%;
  font-size: 0.925rem;
  padding: 0.5em 1.75em 0.5em 1em;
}

.section-1__bmark--green-text {
  color: #147b74;
}

.section-2__stats-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-2__stat-ctn {
  width: 25%;
}

.section-2__stat-ctn:not(:first-child) {
  padding-left: 3em;
  width: 30%;
}

.section-2__stat-ctn p:first-child {
  font-size: 2rem;
  font-weight: 700;
}

.section-2__stat-ctn p:not(:first-child) {
  color: #7a7a7a;
  margin-top: 0.5em;
}

.section-2__stat-ctn:not(:last-child) {
  border-right: 1px solid #cccccc;
}

.section-2__prog-bar {
  margin-top: 2em;
  background-color: #f2f2f2;
  height: 15px;
  border-radius: 5em;
}

.section-2__prog-bar-color {
  display: block;
  border-radius: 5em;
  background-color: #3cb4ac;
  height: 100%;
}

.section-3 h2 {
  margin-bottom: 1.75em;
}

.section-3 p {
  color: #7a7a7a;
  letter-spacing: 0.05em;
  line-height: 2em;
}

.section-3__para-mb--2 {
  margin: 1.75em 0;
}

.section-3__para-mb--2-5 {
  margin-bottom: 2.5em;
}

.section-3__rwd-ctn {
  border: 1.5px solid #cccccc;
  padding: 2.5em;
  border-radius: 0.5em;
}

.section-3__rwd-ctn--mid-ctn {
  margin: 1.75em 0;
}

.section-3__rwd-ctn--stockout {
  color: rgba(122, 122, 122, 0.9);
  border-color: #e6e6e6;
}

.section-3__rwd-ctn--stockout p {
  color: rgba(122, 122, 122, 0.7) !important;
}

.section-3__rwd-ctn--stockout p > span {
  color: rgba(122, 122, 122, 0.9) !important;
}

.section-3__rwd-ctn--stockout .section-3__pledge-amt {
  color: rgba(23, 135, 128, 0.5) !important;
}

.section-3__rwd-ctn--stockout button {
  background-color: #b3b3b3 !important;
}

.section-3__rwd-ctn--stockout button:hover {
  cursor: default !important;
}

.section-3__pledge-rwd-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-3__left-rwd-btn-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-3__left-rwd-btn-ctn p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-3__left-rwd-btn-ctn p > span {
  font-size: 2rem;
  margin-right: 0.25em;
  font-weight: 700;
  color: black;
}

.section-3__pledge-amt {
  color: #147b74 !important;
  font-weight: 500;
  font-size: 0.95rem;
}

.section-3 button {
  font-size: 0.925rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding: 1.25em 2.5em;
  border-radius: 5em;
  background-color: #3cb4ac;
  color: white;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.section-3 button:hover {
  cursor: pointer;
  background-color: #147b74;
}

.back-prj-mdl {
  border-radius: 0.5em;
  position: absolute;
  width: 50%;
  min-width: 721px;
  top: 25%;
  left: 25%;
  padding: 3em;
  background-color: white;
  -webkit-backdrop-filter: invert(45%) sepia(8%) saturate(128%) hue-rotate(169deg) brightness(89%) contrast(90%);
          backdrop-filter: invert(45%) sepia(8%) saturate(128%) hue-rotate(169deg) brightness(89%) contrast(90%);
  display: none;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  -webkit-transform-origin: 50% 27.5%;
          transform-origin: 50% 27.5%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 2;
}

.back-prj-mdl__desc {
  margin-top: 1em;
  color: #7a7a7a;
}

.back-prj-mdl__cls-mdl {
  position: absolute;
  top: 2em;
  right: 2em;
}

.back-prj-mdl__cls-mdl:hover {
  cursor: pointer;
}

.back-prj-mdl--show {
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1, 1) translate(-50%, -50%);
          transform: scale(1, 1) translate(-50%, -50%);
}

.pldg-rwd-list {
  list-style-type: none;
  margin-top: 1.5em;
}

.pldg-rwd-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 0.5em;
  height: 121px;
  -webkit-transition: height 0.25s, border-color 0.25s;
  transition: height 0.25s, border-color 0.25s;
  overflow: hidden;
}

.pldg-rwd-item input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  margin: 2em 1.5em 0 1.75em;
  min-width: 20px;
  height: 20px;
  padding: 4px;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
  background-clip: content-box;
  -webkit-transition: border-color 0.25s;
  transition: border-color 0.25s;
}

.pldg-rwd-item input[type="radio"]:hover {
  cursor: pointer;
  border-color: #3cb4ac;
}

.pldg-rwd-item input[type="radio"]:checked {
  background-color: #3cb4ac;
}

.pldg-rwd-item__pldg-hdr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pldg-rwd-item__pldg-hdr--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pldg-rwd-item__pldg-hdr > p:last-child {
  color: #7a7a7a;
  margin-right: 1.5em;
}

.pldg-rwd-item__pldg-hdr > p:last-child span {
  font-size: 1.125rem;
  margin-right: 0.25em;
  font-weight: 700;
  color: black;
}

.pldg-rwd-item:not(:first-child):not(:last-child) {
  margin-top: 1.25em;
}

.pldg-rwd-item:last-child {
  margin-top: 1.25em;
}

.pldg-rwd-item h4 {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.pldg-rwd-item h4:hover {
  cursor: pointer;
  color: #3cb4ac;
}

.pldg-rwd-item .pldg-amt {
  font-size: 0.925rem;
  font-weight: 700;
  margin-left: 1em;
  color: #3cb4ac;
}

.pldg-rwd-item__right {
  margin-top: 1.5em;
}

.pldg-rwd-item__right__desc {
  font-size: 0.95rem;
  margin: 1em 1.5em 1.5em 0;
}

.pldg-rwd-item--active {
  height: 215px;
  border-color: #147b74;
}

.pldg-rwd-item--active-mod {
  border-color: #147b74;
}

.pldg-rwd-item__bottom {
  left: -63px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  width: calc(100% + 63px);
  padding: 1.25em 1.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.pldg-rwd-item__bottom--show {
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
}

.pldg-rwd-item__bottom p {
  font-size: 0.925rem;
  font-weight: 500;
  color: #7a7a7a;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pldg-rwd-item__bottom__pldg-amt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pldg-rwd-item__bottom__pldg-amt input:before {
  content: "$";
  display: block;
}

.pldg-rwd-item__bottom__pldg-amt input[type="number"] {
  font-size: 0.85rem;
  margin-left: 0.5em;
  font-family: "Commissioner", sans-serif;
  max-width: 27px;
  height: 1.45em;
  font-weight: 700;
  line-height: 2.85em;
  -moz-appearance: textfield;
}

.pldg-rwd-item__bottom__pldg-amt input[type="number"]:focus {
  outline: none;
  caret-color: #3cb4ac;
}

.pldg-rwd-item__bottom__pldg-amt input::-webkit-inner-spin-button,
.pldg-rwd-item__bottom__pldg-amt input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.pldg-rwd-item__bottom__pldg-amt button {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  padding: 1.25em 1.5em;
  border-radius: 1.85em;
  height: 52px;
  background-color: #3cb4ac;
  color: white;
  cursor: pointer;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.pldg-rwd-item__bottom__pldg-amt button:hover {
  background-color: #147b74;
}

.pldg-rwd-item__bottom__pldg-inp {
  border-radius: 1.85em;
  padding: 0.75em 1em;
  border: 1px solid #7a7a7a;
  width: 97px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pldg-rwd-item__bottom__pldg-inp:focus-within {
  border-color: #147b74;
}

.pldg-rwd-item__bottom__pldg-inp span {
  font-size: 0.85rem;
  font-weight: 500;
  height: 1.45em;
  margin-left: 0.75em;
  color: #7a7a7a;
}

.bck-prj-mdl-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: black;
  opacity: 0.5;
  display: none;
  z-index: 1;
}

.bck-prj-mdl-bg--show {
  display: block;
}
/*# sourceMappingURL=style.css.map */